*.pydevproject
.metadata
bin/
tmp/
*.log
*.json
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# Eclipse Core
#.project
.settings
bin/
lib/
scripts/
RemoteSystemsTempFiles/

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
#.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans